body {
	font-family: 'DIN-Light', sans-serif;
	margin-top: 86px;
}

.img-proportion {
	max-width: 100%;
	width: auto;
}

@import 'modules/font';
@import 'modules/navigation';
@import 'modules/header-video';